body {
  /* background: url(coffee_shop.jpg); */
  box-shadow: inset 0px 0px 8px #000000;
  background-repeat: no-repeat;
  background-size: fill;
  height: 100%;
  width: 100%;
}

/*LOGIN PAGE*/

/* Add styles to the login form container */
.container {
  font-family: Montserrat;
  font-weight: lighter;
  position: absolute;
  /* right: 0; */
  margin: 25px;
  max-width: 300px;
  padding: 16px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#forgotPassword {
  color: #000000;
  padding: 0;
}

#createAccount {
  color: #000000;
  padding: 0;
}

/*CREATE ACCOUNT PAGE*/
.create-account-container {
  font-family: Montserrat;
  font-weight: lighter;
  position: absolute;
  margin: 30px;
  margin-top: 50px;
  ;
  max-width: 500px;
  padding: 16px;
}

/* Set a style for the submit button */
#login, #submitNewAccount{
  background-color: #FF473A;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 10px;
}



.btn:hover {
  opacity: 1;
}

.navbar {
  background-color: #FF473A;
  color: white;
}

/*MAIN PAGE */

#list-page {
  position: absolute;
}

.page-container {
  margin-top: 50px;
}

.material-icons.md-58 { 
  font-size: 58px; 
  color: #FF473A;
}

#fab {
  position: fixed;
  bottom: 4px;
  right: 8px;
  z-index: 999;
}

#fab:active {
  transform: translateY(4px);
  opacity: 0.8;
}

.btn-outline-light {
  color: white;
}

.modal-header {
  border: none;
  padding-bottom: 0;
}

.modal-footer {
  border: none;
  padding-top: 0;
}

.coffee-maker-card-name,
.coffee-maker-card-ipAddress {
  white-space: nowrap;
  overflow: hidden;
}

.coffee-maker-card-name {
  font-size: 1.5em;
}

.coffee-maker-card-ipAddress {
  font-size: 1.2em;
}

.coffee-maker-card {
  margin: 0px;
}

[data-toggle="dropdown"] {
  cursor: pointer;
}

#coffeeIcon{
  width: 32px;
  height: 32px;
  
}
